body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loader {
  background-color:  #4684ee;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}

.card-body.overflow {
       position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1b1e21b5;
    width: 85%;
    height: 100%;
    opacity: 0;
 
    transition: .2s all;
    margin: 0 auto;
    color: white;
}
.card-body.overflow:hover{
  opacity: 1;
}
p.card-text.boxi {
    height: calc(100% - 100px);
    overflow: hidden;
    padding: 0 5px;
}